**/node_modules
**/.next
**/.turbo
**/.expo
**/dist
**/out
backend/.venv
backend/.pytest_cache
backend/.ruff_cache
backend/.mypy_cache
.git
**/*.md
**/.env
**/.env.*
!**/.env.template
!**/.env.testing
